<%- include('partials/header') %>
    <div class="container body">

        <div class="main_container">
            <div class="col-md-3 left_col">
                <%- include('partials/sidebar-menu') %>
            </div>

            <%- include('partials/top-navigation') %>

                <!-- page content -->
                <div class="right_col" role="main">
                    <!-- top tiles -->
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Tambah Admin</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- /top tiles -->
                    <!--Start Administrators table-->
                    <div class="row add_administrator_form_container">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Form Design <small>different form elements</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="#">Settings 1</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="add_admin_form" action="/add-admin" method="post" data-parsley-validate class="form-horizontal form-label-left">

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Nama <span class="required">*</span>
											</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="name" name="name" required="required" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">E-mail <span class="required">*</span>
											</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="email" id="email" name="email" required="required" class="form-control">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="password" class="col-form-label col-md-3 col-sm-3 label-align">Password<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input id="password" class="form-control" type="password" name="password">
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="item form-group">
                                            <div class="col-md-6 col-sm-6 offset-md-3">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Administrators Tables-->
                    <br />

                    <!-- /top tiles -->

                </div>
                <!-- /page content -->

                <%- include('partials/footer') %>