/*Start Chart*/

.current_value_wrapper {
    border: 10px solid;
    border-radius: 50%;
    text-align: center;
    width: auto;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.aquas_current_value {
    font-size: 25px;
    vertical-align: middle;
    line-height: 140px;
}


/* for md */

.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
}

.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.aquas-button {
    border-radius: 5px;
}

.aquas_feed_bar_wrapper {
    border-radius: 25px;
    height: 45px;
}

.pump_icon_wrapper {
    text-align: center;
}

.aquas_pump_icon {
    font-size: 35px;
}

.temp_info_container .aquas_button_container,
.ph_info_container .aquas_button_container {
    margin-top: 10%;
}

#add_admin_button i,
#add_admin_button span {
    color: #ffff;
}


/*Start Light Chart*/


/*End Light Chart */


/*End Chart*/


/* 
    SISA GARDEN MONITOR SYSTEM

    body {
    font-family: Arial, Helvetica, sans-serif;
}


    .table-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 3em;
}

.table-scroll {
    height: 250px;
    overflow: auto;
    margin-top: 20px;
}

.table-wrapper table {
    width: 100%;
}

.table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
}

.search-form {
    margin-top: 2em;
}

.page-title {
    padding-top: 2em;
}

.page-title h3 {
    font-weight: bold;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

@media only screen and (max-width: 600px) {
    .current-data p {
        font-size: 0.7rem;
    }
} */